.red {
  color: #f00;
}

.bold {
  font-weight: bold;
}

.CockpitButton {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.CockpitButton:hover {
  background-color: lightgreen;
  color: black;
}

.CockpitButton.Red {
  background-color: red;
}

.CockpitButton.Red:hover {
  background-color: salmon;
  color: black;
}